{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Proof of Concept 🚀</h1>

    This Application shows the difference in the implementation between 3 options:
    <ul>
        <li>Worker Queues with Symfony messenger</li>
        <li>Update with a command</li>
        <li>Update within the same call</li>
    </ul>
</div>
{% endblock %}
